{% extends "TalisSwiftForumBundle::base.html.twig" %}

{% block subtitle %}Edit Forum Categories{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                {% if loop.first %}
                    <div class="col-sm-6 form-group">
                {% else %}
                    <div class="col-sm-2 form-group">
                {% endif %}
                <span class="help-block"><i class="icon-exclamation-sign"></i> {{ error.message }}</span></div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
    <div class="page-header">
        <h1>Edit Categories</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-plus"></i> New Category</h3>
        </div>
        <div class="panel-body">
            {% form_theme form _self %}
            {{ form_start(form) }}
            {% if form.vars.errors|length > 0 %}
            <div class="row has-error">
                {{ form_errors(form) }}
            </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form_label(form.forumcategory.name) }}
                    {{ form_widget(form.forumcategory.name) }}
                </div>
                <div class="col-sm-2 form-group">
                    {{ form_label(form.forumcategory.orderOffset) }}
                    {{ form_widget(form.forumcategory.orderOffset) }}
                </div>
                <div class="col-sm-2 form-group">
                    {{ form_label(form.iconid) }}
                    {{ form_widget(form.iconid) }}
                </div>
                <div class="col-sm-2 form-group">
                    {{ form_label(form.Create) }}
                    {{ form_widget(form.Create) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% for category in categories %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% if category.getIcon() is not null %}<i class="{{ category.getIcon().getName() }}"></i> {% endif %}{{ category.getName() }}</h3>
            </div>
            <div class="panel-body">
                No Sub-Boards
            </div>
        </div>
    {% endfor %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">System</h3>
            </div>
            <div class="panel-body">
                No Sub-Boards
            </div>
        </div>
{% endblock %}