{% extends "TalisTrickPlayBundle::base.html.twig" %}
{% block subtitle %}Roster{% endblock %}

{% block content %}

<div class="page-header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">By Rank</a></li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">By Job <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Physical</li>
        <li><a href="#"><span class="fficon-bard"></span> Bard (5)</a></li>
        <li><a href="#"><span class="fficon-dragoon"></span> Dragoon (5)</a></li>
        <li><a href="#"><span class="fficon-monk"></span> Monk (7)</a></li>
        <li><a href="#"><span class="fficon-paladin"></span> Paladin</a></li>
        <li><a href="#"><span class="fficon-warrior"></span> Warrior</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Magic</li>
        <li><a href="#"><span class="fficon-blackmage"></span> Black Mage</a></li>
        <li><a href="#"><span class="fficon-scholar"></span> Scholar</a></li>
        <li><a href="#"><span class="fficon-summoner"></span> Summoner</a></li>
        <li><a href="#"><span class="fficon-whitemage"></span> White Mage</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">By Profession <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Crafting</li>
        <li><a href="#"><span class="fficon-alchemist"></span> Alchemist</a></li>
        <li><a href="#"><span class="fficon-armorer"></span> Armorer</a></li>
        <li><a href="#"><span class="fficon-blacksmith"></span> Blacksmith</a></li>
        <li><a href="#"><span class="fficon-carpenter"></span> Carpenter</a></li>
        <li><a href="#"><span class="fficon-culinarian"></span> Culinarian</a></li>
        <li><a href="#"><span class="fficon-goldsmith"></span> Goldsmith</a></li>
        <li><a href="#"><span class="fficon-leatherworker"></span> Leatherworker</a></li>
        <li><a href="#"><span class="fficon-weaver"></span> Weaver</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Gathering</li>
        <li><a href="#"><span class="fficon-botanist"></span> Botanist</a></li>
        <li><a href="#"><span class="fficon-fisher"></span> Fisher</a></li>
        <li><a href="#"><span class="fficon-miner"></span> Miner</a></li>
      </ul>
    </li>
  </ul>
  <h1>{{ members|length }} Members</h1>
</div>

<table class="table table-striped" style="background-color: #fff">
  <tr>
    <th width="30"></th>
    <th>Character</th>
    <th>Main Jobs <span style="cursor:pointer" data-toggle="tooltip" title="A character's highest level jobs"><span class="icon-question-sign"></span></a></th>
    <th>Main Professions <span style="cursor:pointer" data-toggle="tooltip" title="A character's highest level professions"><span class="icon-question-sign"></span></a></th>
    <th width="200">Secondary Jobs</th>
    <th width="200">Secondary Professions</th>
  </tr>

  {% for member in members %}
    <tr>
      <td><img src="{{ member.picture }}"/></td>
      <td><strong>{{ member.name }} (Officer)</strong><br/> Plays weekends</td>
      <td>
        {% for job, level in member.mainJobs %}
        <span style="cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ job|capitalize }}"><span class="fficon-{{ job }}"></span> {{ level }} {{ job|capitalize }}</span>
        <br/>
        {% endfor %}
      </td>
      <td>
        {% for profession, level in member.mainProfessions %}
        <span style="cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ profession|capitalize }}"><span class="fficon-{{ profession }}"></span> {{ level }} {{ profession|capitalize }}</span>
        <br/>
        {% endfor %}
      </td>
      <td class="text-muted">
        {% for job, level in member.secondaryJobs %}
        <span style="min-width:40px; display: inline-block; cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ job|capitalize }}"><span class="fficon-{{ job }}"></span> {{ level }}</span>
        {% endfor %}
      </td>
      <td class="text-muted">
        {% for profession, level in member.secondaryProfessions %}
        <span style="min-width:40px; display: inline-block; cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ profession|capitalize }}"><span class="fficon-{{ profession }}"></span> {{ level }}</span></span>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}

{% block javascripts %}

<script>
$("[data-toggle=tooltip]").tooltip();
</script>

{% endblock %}
