{% extends "TalisTrickPlayBundle::base.html.twig" %}
{% block subtitle %}Roster{% endblock %}

{% block content %}
{{ parent() }}

<div class="page-header">
  <h1>{{ members|length }} Members</h1>
</div>

<table class="table table-striped" style="background-color: #fff">
  <tr>
    <th width="30"></th>
    <th>Character</th>
    <th>Main Jobs <span style="cursor:pointer" data-toggle="tooltip" title="A character's highest level jobs"><span class="icon-question-sign"></span></a></th>
    <th>Main Professions <span style="cursor:pointer" data-toggle="tooltip" title="A character's highest level professions"><span class="icon-question-sign"></span></a></th>
    <th width="200">Secondary Jobs</th>
    <th width="200">Secondary Professions</th>
  </tr>

  {% for member in members %}
    <tr class="{{ member.user ? 'roster-registered' : '' }}" onclick="{{ member.user ? "window.location='#{member.user.url}'" : '' }}">
      <td><img src="{{ member.character.picture }}"/></td>
      <td>
        <strong>
          {{ member.character.name }} {{ member.rank ? "(#{member.rank})" : "" }}
        </strong>

        {% if member.user %}
          <br/>{{ member.user.status }}
        {% endif %}

      </td>
      <td>
        {% for job, level in member.character.mainJobs %}
        <span style="cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ job|capitalize }}"><span class="fficon-{{ job }}"></span> {{ level }} {{ job|capitalize }}</span>
        <br/>
        {% endfor %}
      </td>
      <td>
        {% for profession, level in member.character.mainProfessions %}
        <span style="cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ profession|capitalize }}"><span class="fficon-{{ profession }}"></span> {{ level }} {{ profession|capitalize }}</span>
        <br/>
        {% endfor %}
      </td>
      <td class="text-muted">
        {% for job, level in member.character.secondaryJobs %}
        <span style="min-width:40px; display: inline-block; cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ job|capitalize }}"><span class="fficon-{{ job }}"></span> {{ level }}</span>
        {% endfor %}
      </td>
      <td class="text-muted">
        {% for profession, level in member.character.secondaryProfessions %}
        <span style="min-width:40px; display: inline-block; cursor: pointer" data-toggle="tooltip" title="Level {{ level }} {{ profession|capitalize }}"><span class="fficon-{{ profession }}"></span> {{ level }}</span></span>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}

{% block javascripts %}

<script>
$("[data-toggle=tooltip]").tooltip();
</script>

{% endblock %}
