{% extends "TalisSwiftForumBundle::base.html.twig" %}

{% block subtitle %}Forum{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                {% if loop.first %}
                    <div class="col-md-9 form-group">
                {% else %}
                    <div class="col-md-2 form-group">
                {% endif %}
                <span class="help-block"><i class="icon-exclamation-sign"></i> {{ error.message }}</span></div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
    <div class="page-header">
        {#<h1>Forums</h1>#}
        <ol class="breadcrumb">
            <li class="active">Forums</li>
        </ol>
    </div>




    {% for category in categories %}
        {% set boards = category.getBoards() %}
        {% set validBoard = false %}

        {% for board in boards if ( not board.getRole() ) or (is_granted(board.getRole().getRole()))  %}
            {% if loop.first %}
                {% set validBoard = true %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div class="iconshift-headline">{% if category.getIcon() is not null %}<i class="{{ category.getIcon().getName() }}"></i>{% endif %}</div>{{ category.getName()|e }}
                        </h3>
                    </div>
                    <table class="table table-hover">
                        <tbody>
            {% endif %}
            <tr class="forum-topic-row">
                <td class="forum-board-name"><a href="{{ path('forum_view_board', {'boardName': board.getName()|cleanlink, 'boardId': board.id}) }}">{% if board.getIcon() is not null %}<i class="{{ board.getIcon().getName() }}"></i> {% endif %}{{ board.getName()|e }}</a></td>
                <td class="forum-board-lastpost">
                    {% set lastTopic = board.getTopics().first() %}
                    {% if lastTopic %}
                        {% set lastPost = lastTopic.getPosts().last() %}
                        {% set lastPostCreator = lastPost.getCreator() %}
                        <div>
                            <a href="{{ path('forum_view_topic', {'boardName': board.getName()|cleanlink, 'boardId': board.getId(), 'topicName': lastTopic.getTitle()|cleanlink, 'topicId': lastTopic.getId()}) }}">{% if lastTopic.getIcon() is not null %}<i class="{{ lastTopic.getIcon().getName() }}"></i> {% endif %}{{ lastTopic.getTitle()|e }}</a>
                        </div>
                        <span class="forum-topic-info text-muted">by {{ lastPostCreator.getVanityName()|e }} {{ lastPost.getCreationDate()|time_ago_in_words }}</span>
                    {% else %}
                        <span class="forum-topic-info text-muted">No posts yet...</span>
                    {% endif %}
                </td>
            </tr>

            {# <span class="badge">14</span> Badges should be added later for unread posts etc. #}

        {% endfor %}

        {#If validBoard is true, we must close the the category. Unfortunately, we can't use loop.last with conditions.#}
        {% if validBoard %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">System</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}