{% extends "TalisSwiftForumBundle::base.html.twig" %}

{% block subtitle %}Edit Profile{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Edit your {{ tsforum.name }} account</h1>
    </div>
    {% if error is defined %}
        <div>{{ error.message }}</div>
    {% endif %}

    <p>Functionality to change your password and email address is forthcoming.</p>

    <div class="row">
        <div class="col-md-6">
            <h2>Add / Edit your Characters</h2>
            <h3>Primary Character</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-6">
            <h2>Account</h2>
            <p><strong>Username</strong> {{ app.user.username }}</p>
            <p><strong>E-mail</strong> {{ app.user.email }}</p>
            <p><strong>Role</strong> {{ app.user.role.name }}</p>
            <p>
                <strong>Avatar</strong> <small><a href="http://en.gravatar.com" target="_blank">(change)</a></small>
                <br/>
                <br/>
                <img src="{{ app.user.avatar(50) }}" width="50" height="50"/>
            </p>

        </div>
    </div>
{% endblock %}
