{% extends "TalisSwiftForumBundle::base.html.twig" %}

{% block form_row %}
    {% spaceless %}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endspaceless %}
    {% endblock form_row %}

{% block button_row %}
    {% spaceless %}
        <span class="input-group-btn">{{ form_widget(form) }}</span>
    {% endspaceless %}
{% endblock button_row %}

{% block form_widget_compound %}
    {% spaceless %}
        <div class="input-group input-group-sm">
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {% if loop.last %}
                </div>
            {% endif %}
            {{ form_row(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block subtitle %}Edit Members{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ tsforum.name }} Registered Accounts</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Rank</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.user.username|e }}</td>
                    <td>{{ user.user.role.name|e }}</td>
                    <td>{% if user.edit %}
                            {% form_theme user.form _self %}
                            {{ form(user.form) }}
                        {% else %}
                            No permission to edit
                        {% endif %}</td>
                </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}